
.container {
    max-width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
    padding-bottom: 5%;
}

p {
    font-size: 18px;
}

ul {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.home-image img{
    width: auto;
    height: 100%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.home-image{
    height: 100%;
}
