.flex-container {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;

    padding-left: 6%;
    padding-right: 6%;
}

.flex-item {
    display: flex; 
    padding-bottom: 8%;
    margin: auto;

    width: 90%;
    height: 100%;
}