.card-design h4{
    font-family: open-sans;
    font-weight: 500;
}

.container-design h1{
    padding-bottom: 2%;
}

.card-design p{
    font-family: open-sans;
    font-size: 15px;
}

.card-design{
    padding-bottom: 8%;
}

.container-design {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
